<div class="container text-center">

  <h1>BENVENUTO IN FLETNIX</h1>
  <h1 *ngIf="!loggedOrNot"><a routerLink="/auth/login" class="text-decoration-none">Accedi</a> o <a routerLink="/auth/register"  class="text-decoration-none">registrati</a> per ottenere tutti i tuoi film preferiti</h1>



  <h1 *ngIf="loggedOrNot">Catalogo film </h1>

<div class="row" *ngIf="loggedOrNot">
<div *ngFor="let item of moviesArr" class="col-4">

  <div class="card">
    <img src="https://static.sky.it/images/skytg24/it/spettacolo/cinema/2021/12/14/scream-poster/scream-locandina-lassassino-e-nel-poster.jpg.transform/original/bc229803b9feedf61c0873a7f4fa1354c77eaa83/img.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.nome}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Anno di uscita: {{item.anno}}</li>
      <li class="list-group-item">Categoria: {{item.categoria}}</li>
    </ul>
    <div class="card-body">
      <button (click)="aggiungiPreferiti(item)" class="btn btn-success">Aggiungi hai preferiti</button>
    </div>
  </div>
</div>

</div>
</div>
