<div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="singleUser.image" class="rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{singleUser.firstName}} {{singleUser.lastName}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!--C'HO PROVATO-->

<div *ngIf="foundOrNot">
  <h1>
     Non è stato trovato nessun User con il nome cercato
  </h1>
</div>
