@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


#sottotitolo{
    background-color:#fdfbf1 ;
    border-top:#fee8af solid 5px ;
    
}

#logo{
    margin-left:auto ;
    margin-right: auto;
    display: block;
}

#sottotitolo>h4{
    text-align: center;
    padding-bottom: 20px;
}

main{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    text-align: center;
}

.sottotitolo-main{
    text-align: center;
    color: #999999
}

.ft{
    border-left:#fee8af solid 5px;
    padding-left: 3px;
    font-weight: 700;
    
}
.ft>a{
    color:#107777;
    
}
.ft>span{
    color: #b5460f;
}

hr{
    color:#107777;
    
}

ul,ol{
    font-weight: bold;
    
}

ol>li{
    font-weight: bold;
    
}

li{
    font-weight: 400;
    margin-bottom:15px;
    margin-top: 15px;
}

video{
    width: 68%;
    height: 40vh;
    margin-left:auto ;
    margin-right: auto;
    display: block;
}

h2{
    margin-top: 20px;
}

.descrizione-metodo{
    padding-left: 40px;
}

aside>p>a{
    color:#107777;
}