<header class="d-flex flex-wrap justify-content-center align-items-center bg-dark border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img class="mx-3" src="https://us.123rf.com/450wm/themoderncanvas/themoderncanvas2308/themoderncanvas230800014/211186763-auto-sportive-auto-logo-veicolo-a-motore-sagoma-emblema-supercar-concessionaria-icona-concessionario.jpg?ver=6" alt="">
    <span class="fs-4 text-white fw-bold">AutoDeal</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link active me-3" aria-current="page">Home</a></li>

  </ul>
</header>
