#row{
  padding: 10px 0;
  border-radius: 25px;
  width: 75%;
}


#todoText{
  font-size: 1.2rem;
  margin: auto;

}

#checkbox{
  margin: auto auto;
  width: 20px;
  height: 20px;
  background-color: white;

}

