<div class="container">
<div class="row align-items-center mb-1">
  <div class="col-3">
    <img class="logo" [src]="allAudi[0].brandLogo" alt="Logo Fiat" />
  </div>
  <h1 class="col-6 title">Le nostre Audi</h1>
</div>
<div class="row">
  <div *ngFor="let auto of allAudi" class="col-6">
    <div class="card" [ngClass]="{
      'bg-success': auto.available,
      'bg-danger': !auto.available
    }">
      <img [src]="auto.modelImage" class="card-img-top img-fluid" alt="..." />
      <div class="card-body">
        <p class="card-text">
          {{auto.brand}} {{auto.model}} {{auto.year}}
        </p>
        <p class="card-text">
          {{auto.price |currency: 'EUR'}}
        </p>
        <a [routerLink]="['/dettagli', auto.model]" class="btn btn-primary"
            >Dettagli</a
          >
      </div>
    </div>
  </div>
</div>
</div>
