<div class="bg-dark">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <div class="d-flex align-items-center">

      <a href="/" class="d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="https://us.123rf.com/450wm/themoderncanvas/themoderncanvas2308/themoderncanvas230800014/211186763-auto-sportive-auto-logo-veicolo-a-motore-sagoma-emblema-supercar-concessionaria-icona-concessionario.jpg?ver=6" alt="">
      </a>
      <p class="mb-0 text-white ms-3">© 2024 Company, Inc</p>
    </div>

    <ul class="nav me-3justify-content-end">
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-white">Home</a></li>
    </ul>
  </footer>
</div>
