$input-bg: #141414;

$form-check-input-border-radius:0;


$form-check-label-cursor: pointer;                
$form-check-transition: pointer;                  

$form-check-padding-start: 50px;

$form-check-input-focus-box-shadow:none;

$form-check-input-focus-border: none;

$form-check-input-width:1.4em;

$form-check-input-checked-color: #141414;

$form-check-input-checked-bg-color: white;

$dropdown-border-radius:none;

$dropdown-link-active-bg: #000;

$dropdown-link-active-color: #fff;