html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9edee;
}

main{
    padding: 40px ;
}

#logo{
    background-color: #222f3f;
    height: 100px ;
}

.logo{
    padding: 20px 0 30px 50px ;
    width: 200px;
}

#menù{
    background-color: #354658 ;
    padding: 15px 0 15px 30px;
}

.link-menù{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 20px;
}

.over-title{
    background-color: #f56600 ;

    text-align: center;
    padding: 15px 0;
    margin-bottom: 40px;
}

.link-menù1{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 5px;
   
}

#title{
    background-image: url(../assets/bg-image.png);
    height: 50px;
    text-align: center;
    padding: 100px 0 100px 0;
    background-size: contain;
    margin-bottom: 40px;
    
}
.h1{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}
.h1-2{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 30px;
}




.shop-now{
    text-decoration: none;
    color: #29686d;
    font-weight: bold;
    display: inline;
    font-size: 1.6rem;
    margin-left: 25px;

}

.perf-gift{
    display: inline;
    font-size: 1.7rem;
}

#article{
    background-color: white;
    padding:  25px 0 20px 25px ;
    margin-bottom: 30px;
}

#cont{
    margin-bottom: 30px;
}

.img{
    width: 25%;
    
}

.products{
    width: 90%;
    height: 500px;
    border-radius: 10px;
    
    box-shadow: 0 10px 10px 0  #e0e4e8;
}

#img-cont{
    display: flex;
    
}

#gaming{
    background-image: url(../assets/img_9.png);
    height: 550px;
    
    
    background-size: cover;

}


#cont-p2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

#music{
    background-image: url(../assets/img_10.png);
    height: 550px;
    
    
    background-size: cover;
}

.to-top{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
#to-top{
    background-color: #354658;
    padding: 25px;
    text-align: center;
}

#logo-footer{
    background-color: #222f3f;
    
    text-align: center;
    padding: 100px 0;
}


